html{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
} 

p{
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

h1 {
    font-weight: 700;
    font-size: 20px;
    color: hsl(218, 44%, 22%);
}

main{
    text-align: center;
    border: 1px solid white;
    border-radius: 1rem;
    width: 15.6rem;
    padding: 1rem 1rem 1.5rem 1rem;
    background-color: hsl(0, 0%, 100%);
}

main img {
    max-width: 100%;
    border-radius: .75rem;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}